body {
    background: #262626;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    align-items: stretch;
    width: 100%;
    margin: auto 0;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .grid {
        width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .grid {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .grid {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .grid {
        width: 1140px;
    }
}

.mycard {
    position: relative;
    height: auto;
    padding: 50px 20px;
    background: #ff0;
    border-radius: 10px;
    border: 4px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    animation: animate 5s linear infinite;
    overflow: hidden;
}

.mycard::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    transform: skewx(-5deg);
    background: rgba(255, 255, 255, 0.2);
}

.mycard:nth-child(1) {
    background-color: #363436;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}


@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -196px;
    }
}

.mycard .image {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    overflow: hidden;
    z-index: 1;
}

.mycard .image img {
    width: 100%;
    height: auto;
}

.mycard .text {
    position: relative;
    color: #fff;
    font-size: 18px;
    padding-top: 50px;
}

.mycard .text::before {
    position: absolute;
    top: -30px;
    left: 50%;
    font-family: FontAwesome;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.5);
    transform: translatex(-50%);
}

.mycard .details {
    text-align: center;
}

.mycard .details h2 {
    position: relative;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 24px;
    z-index: 1;
}

.mycard .details h2 span {
    font-size: 20px;
}

#discount {
    background-color: pink;
    border-radius: 50%;
    border: 1px solid white;
}

#club {
    background-color: palevioletred;
    color: white;
}

#add {
    background-color: lawngreen;
}

#buy {
    background-color: orange;
}